<%= render 'navbar' %>

<p id="notice"><%= notice %></p>

<h1 align="center">Investigations</h1>

<div class="container">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Subject: </th>
      <th scope="col">UID: </th>
      <th scope="col">Active: </th>
      <th scope="col">Active leads: </th>
      <th scope="col">Department: </th>
      <th scope="col">Date Created: </th>
      <th scope="col"> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investigations.each do |investigation| %>
      <tr>
        <td scope="row"><%= link_to investigation.subject, investigation %></td>
        <td><%= investigation.uid %></td>
        <td><%= investigation.active %></td>
        <td><%= investigation.active_leads %></td>
        <td><%= investigation.department.name %></td>
        <td><%= investigation.created_at %></td>
        <td><%= link_to 'Edit', edit_investigation_path(investigation.id) %> <%= link_to 'Delete', investigation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="container">
    <div class="d-grid d-md-flex">
      <a href="<%= new_investigation_path %>" type="button" class="btn btn-outline-primary">New Investigation</a>
    </div>
</div>

