<p id="notice"><%= notice %></p>

<h1>Cases</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Uid</th>
      <th>Active</th>
      <th>Active leads</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |thing| %>
      <tr>
        <td><%= thing.subject %></td>
        <td><%= thing.uid %></td>
        <td><%= thing.active %></td>
        <td><%= thing.active_leads %></td>
        <td><%= thing.department %></td>
        <td><%= link_to 'Show', thing %></td>
        <td><%= link_to 'Edit', edit_case_path(thing) %></td>
        <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
