  <%= form_with model: department_cases do |form| %>
    <div class="container">
      <div class="input-group">
          <%= form.text_field :subject, { class: "form-control", id: "text-input-area" } %></p>
          <%= form.label :subject, { class: "input-group-text"  } %><br>
      </div>

      <% @department.errors.full_messages_for(:subject).each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>

      <div class="input-group">
          <%= form.label :uid, { class: "input-group-text" } %><br>
          <%= form.text_area :uid, { class: "form-control", id: "text-input-area" } %></p>
      </div>

      <% @department.errors.full_messages_for(:uid).each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>

      <div class="visually-hidden">
        <div class="input-group" style="hidden">
            <%= form.label :department, { class: "input-group-text" } %><br>
            <%= form.text_field :department, { value: "#{@department.id}", class: "form-control", id: "text-input-area" } %></p>
        </div>
      </div>

      <% @department.errors.full_messages_for(:department).each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>

      <div class="input-group">
          <%= form.label :active_leads, { class: "input-group-text" } %><br>
          <%= form.text_field :active_leads, { class: "form-control", id: "text-input-area" } %></p>
      </div>

      <% @department.errors.full_messages_for(:active_leads).each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>

      <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect01">Active?</label>
          <%= form.select :active, [["True", true], ["False", false]], { class: "form-select", id: "inputGroupSelect"} %>
      </div>

      <% @department.errors.full_messages_for(:active).each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
  </div>

        <div class="container">
          <div class="row g-5">
              <div class="col" align="left">
                  <%= form.button :submit, type: "submit", class: "btn btn-primary" %>
              </div>

              <div class="col" align="center">
                <%= form.button :cancel, type: "reset", class: "btn btn-outline-secondary" %>
              </div>

              <div class="col" align="right">
                  <a href="<%= department_cases_path %>" type="button" class="btn btn-outline-primary">Go Back</a>
              </div>
          </div>
        </div>
<% end %>