<%= form_with model: department do |form| %>
    <div class="input-group">
        <%= form.label :name, { class: "input-group-text"  } %><br>
        <%= form.text_field :name, { class: "form-control", id: "text-input-area" } %></p>
    </div>

    <% department.errors.full_messages_for(:name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>

    <div class="input-group">
        <%= form.label :address, { class: "input-group-text" } %><br>
        <%= form.text_area :address, { class: "form-control", id: "text-input-area" } %></p>
    </div>

    <% department.errors.full_messages_for(:address).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>

    <div class="input-group">
        <%= form.label :jurisdiction, { class: "input-group-text" } %><br>
        <%= form.text_field :jurisdiction, { class: "form-control", id: "text-input-area" } %></p>
    </div>

    <% department.errors.full_messages_for(:jurisdiction).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>

    <div class="input-group">
        <%= form.label :active_cases, { class: "input-group-text" } %><br>
        <%= form.text_field :active_cases, { class: "form-control", id: "text-input-area" } %></p>
    </div>

    <% department.errors.full_messages_for(:active_cases).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>

    <div class="input-group">
      <label class="input-group-text" for="inputGroupSelect01">Is Federal?</label>
        <%= form.select :is_federal, [["True", true], ["False", false]], { class: "form-select", id: "inputGroupSelect"} %>
    </div>

    <% department.errors.full_messages_for(:is_federal).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
        <div class="container">
          <div class="row g-5">
              <div class="col" align="left">
                  <%= form.button :save, type: "save", class: "btn btn-primary" %>
              </div>

              <div class="col" align="center">
                <%= form.button :cancel, type: "reset", class: "btn btn-outline-secondary" %>
              </div>

              <div class="col" align="right">
                  <a href="<%= departments_path %>" type="button" class="btn btn-outline-primary">Go Back</a>
              </div>
          </div>
        </div>

<% end %>