<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :jurisdiction %>
    <%= form.text_field :jurisdiction %>
  </div>

  <div class="field">
    <%= form.label :active_cases %>
    <%= form.number_field :active_cases %>
  </div>

  <div class="field">
    <%= form.label :is_federal %>
    <%= form.check_box :is_federal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
