<h1 align="center">Departments</h1>

<div class="container">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col" id="pretty"><%= sortable "name" %></th>
      <th scope="col"><%= sortable "address" %></th>
      <th scope="col"><%= sortable "jurisdiction" %></th>
      <th scope="col"><%= sortable "active_cases" %></th>
      <th scope="col"><%= sortable "is_federal" %></th>
      <th scope="col"><%= sortable "created_at", "Date Created" %></th>
      <th scope="col">Edit: </th>
      <th scope="col">Delete: </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td scope="row"><%= link_to department.name, department %></td>
        <td><%= department.address %></td>
        <td><%= department.jurisdiction %></td>
        <td><%= department.num_cases %></td>
        <td><%= department.is_federal %></td>
        <td><%= department.created_at %></td>
        <td><a href="<%= edit_department_path(department.id) %>" type="button" class="btn btn-outline-primary btn-sm" >Edit</a></td>
        <td><%= button_to 'Delete', department_path(department), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="container">
    <div class="d-grid d-md-flex">
      <a href="<%= new_department_path %>" type="button" class="btn btn-outline-primary">New Department</a>
    </div>
</div>