<p id="notice"><%= notice %></p>

<h1>Departments</h1>

<table>
  <thead>
    <tr>
      <th>Name: </th>
      <th>Address: </th>
      <th>Jurisdiction: </th>
      <th>Active cases: </th>
      <th>Is federal: </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, department %></td>
        <td><%= department.address %></td>
        <td><%= department.jurisdiction %></td>
        <td><%= department.active_cases %></td>
        <td><%= department.is_federal %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path %>
